.user-role {
    /*clear: both;*/
    text-transform: uppercase;
    font-size: 0.9em;
}

.btn-header-action {
    margin-left: 10px;
}

.button-icon {
    margin-right: 10px;
}


.im {
  font-size: 14px;
  width: 20px;
  /* margin-top:10px; */
}

.radio-custom {
    padding: 6px 15px;
}

.radio-custom label {
    padding-right: 10px;
}
