
/*BODY*/
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*MODAL*/

.modal-header{
    border-bottom: none;
}

.modal-dialog{
    width: 100%;
    max-width: 1108px;

}

.modal-body{
    padding:10px 15px;
}

.modal ul{
    padding-left: 5px;
    color: #838383;
}

.modal li{
    list-style: none;
    list-style-position:outside;
    padding: 5px 0px;
}

.modal li.negative{
    opacity: 0.5;

}

.modal li img{
    width: 17px;
}

.modal .col-md-6{
    padding-left: 0;
    padding-right: 0;
}

.modal .modal-isi-1{
    padding: 30px;
    padding-left: 45px;
    padding-right: 10px;
}

.modal .modal-isi-2{
    padding: 30px;
    padding-right: 10px;
    padding-left: 10px;
}

.modal .modal-isi-2{
    padding: 30px;
    padding-right: 45px;
    padding-left: 10px;
}


.modal .modal-border{
    box-shadow: 1px 1px 7px rgba(57, 205, 131, 0.2);
    padding: 25px;

}

.modal h2{
    font-size: 47px;
    font-family: 'Calibre Regular', Fallback, sans-serif;
    text-align: center;
}

.modal h3{
    font-size: 23px;
    font-family: 'Calibre Regular', Fallback, sans-serif;

}

.modal .uang{
    font-size: 45px;
    font-family: 'Calibre Medium', Fallback, sans-serif;
}

.modal .bulan{
    font-size: 18px;
    font-family: 'Calibre Regular', Fallback, sans-serif;

}

.modal .wrapper{
    text-align: center;

}

.modal .btn{
    padding-top : 12px;
    padding-bottom: 8px;
    padding-right: 20px;
    padding-left: 20px;

    background-color: #39CE83;

    border-radius: 16px;
    border-bottom : 3px solid #30B573;

    font-family: 'Calibre Regular', Fallback, sans-serif;
    font-size: 18px;
    letter-spacing: 0.03px;
    color : white;

}


/*SHADOW AFTER SCROOL*/
.shadow-header{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.01), 0 2px 20px 0 rgba(0, 0, 0, 0.05);
}

*{
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;

    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -ms-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease;

}

/*NAVBAR COLLAPSE*/
.navbar-default .navbar-toggle .icon-bar {
    background-color: #39CE83;
}

.navbar-default .navbar-toggle{
    border : none;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
    background-color: #f7f7f7;
    opacity: 0.7;
}

/*REMOVE DOT IN MOZILLA*/
a:focus {
    outline: none;
}

.btn-green{
    /*    font-family: 'Roboto Medium', Fallback, sans-serif;*/
    /*    letter-spacing: -0.023em;*/
    font-size: 14px;
    line-height: normal;
    background: #fff;
    border: 2px solid #39CE83;
    border-radius: 15px;


}


/* Font */
@font-face {
    font-family: 'Calibre Medium';
    src: url("../fonts/calibremedium.eot"); /* IE9 Compat Modes */
    src: url('../fonts/calibremedium.eot?') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/calibremedium.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/calibremedium.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../fonts/calibremedium.svg') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Calibre Regular';
    src: url('../fonts/calibreregular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/calibreregular.eot?') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/calibreregular.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/calibreregular.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../fonts/calibreregular.svg') format('svg'); /* Legacy iOS */
}


/*NAVBAR*/

.header-utama{
    background-color: white;

}

.header-nav{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;


}

.header-nav .navbar-home {

    background-color: #fff;
    border-color: #fff;
    padding-top: 15px;
    padding-bottom: 5px;

    margin-bottom: 0;
}

.navbar-home .navbar-brand{
    float: none;
    width:  auto;
    height: auto;
    line-height: normal;
    margin-left: auto;
    display: block;
    margin-right: 0;
    padding-left: 0;
}

.navbar-home .navbar-collapse .navbar-right{
    padding: 15px 0px;

}

.navbar-home > .container-fluid .navbar-brand{
    margin-left: auto;
}

.navbar-home .collapse{
    width: 100%;
    /*    display: inline-block !important;*/
    vertical-align: top;
}

.navbar-home .navbar-nav > li{

    display: inline-block;
    vertical-align: top;
    float: none;

}

.navbar-home .navbar-nav > li > a{
    font-family: 'Calibre Medium', Fallback, sans-serif;
    font-size: 19px;
    line-height: normal;
    letter-spacing: 0;
    color: #ACACAC;
    padding-top: 14px;
    padding-bottom: 9px;
    padding-right : 25px;
    padding-left :25px;

}

.navbar-home .navbar-nav > li .btn{
    color: #39CE83;
}

.navbar-home .navbar-nav > .active > a,
.navbar-home .navbar-nav > .active > a:hover,
.navbar-home .navbar-nav > .active > a:focus{
    color: #39CE83;
    background-color: #fff;
}

.navbar-home .navbar-nav > li > a:hover,
.navbar-home .navbar-nav > li > a:focus,
.navbar-home .navbar-nav > .active > a:hover,
.navbar-home .navbar-nav > .active > a:focus{
    color: #39CE83;

}

.navbar-home .navbar-nav > li .btn:hover,
.navbar-home .navbar-nav > li .btn:focus{
    color: #31C477;
}

/*HOME FIRST*/

.home-first{
    margin-top: 30px;
    margin-bottom : 30px;
}

.home-first .img-illustration img{
    padding-top: 60px;
}

.home-first .media-spacing{
    margin-top: 25px;
}


.home-first h2{
    font-family: 'Calibre Medium', Fallback, sans-serif;
    margin-bottom: 30px;
    letter-spacing: -0.8px;
    font-size: 54px;
    color: #474747;

}

.home-first p
{
    font-family: 'Calibre Regular', Fallback, sans-serif;
    color :#838383;
    font-size : 22px;
    line-height: 40px;
}

.home-first .media .col-md-7
{
    padding-left: 30px;
    padding-right: 120px;
    padding-right: 90px;
    padding-top: 50px
}

.home-first .btn
{
    font-family: 'Calibre Medium', Fallback, sans-serif;
    font-size: 20px;
    color : white;
    background-color: #39CE83;
    padding-top : 20px;
    padding-bottom: 15px;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 16px;
    border-bottom : 3px solid #30B573;

}


.home-first .btn:hover,
.home-first .btn:focus{
    background-color: #31C477;

}


/*HOME FITUR*/
.home-fitur{
    padding-top: 40px;
    padding-bottom : 50px;
    text-align: center;
}

.home-fitur .row{
    margin-top: 30px;
}

.home-fitur .fitur-title
{
    margin-bottom: 30px;
}

.home-fitur h2{
    font-family: 'Calibre Medium', Fallback, sans-serif;
    font-size: 47px;
    letter-spacing: -0.11px
}

.home-fitur h4{
    font-family: 'Calibre Medium', Fallback, sans-serif;
    padding: 25px 0px 5px 0px;
    font-size: 24px;
    color : #474747;
    letter-spacing: -0.31px;
}

.home-fitur p{
    font-family: 'Calibre Regular', Fallback, sans-serif;
    color : #838383;
    font-size: 18px;
    line-height: 30px;


}


.home-fitur .feature-image{

    display: inline-block;
}

/*HOME TRAVEL*/

.home-travel-header{
    padding-top : 60px;
    padding-bottom: 30px;
    text-align: center;

    /*Background-gradient*/
    /*    background: #f7f8f8;  For browsers that do not support gradients */
    /*    background: -webkit-linear-gradient(#f7f8f8, white);  For Safari 5.1 to 6.0 */
    /*    background: -o-linear-gradient(#f7f8f8, white);  For Opera 11.1 to 12.0 */
    /*    background: -moz-linear-gradient(#f7f8f8, white);  For Firefox 3.6 to 15 */
    /*    background: linear-gradient(#f7f8f8, white);  Standard syntax */
}

.home-travel-header .fitur-title h2
{
    color: #474747;
    font-family: 'Calibre Medium', Fallback, sans-serif;
    font-size: 42px;
    letter-spacing: -0.1px;
}

.home-travel-header .fitur-title p
{
    font-family: 'Calibre Regular', Fallback, sans-serif;
    padding-left: 25%;
    padding-right: 25%;
    line-height: 34px ;
    color : #838383;
    font-size: 22px;
}

.home-travel{
    padding-top: 15px;
    padding-bottom: 40px;
    background-color: white;
}

.home-travel .fitur-title
{
    text-align: center;
}

.home-travel .fitur-title h2
{
    color: #474747;
    font-family: 'Calibre Medium', Fallback, sans-serif;
    font-size: 42px;
    letter-spacing: -0.1px;
}

.home-travel .fitur-title p
{
    font-family: 'Calibre Regular', Fallback, sans-serif;
    padding-left: 25%;
    padding-right: 25%;
    line-height: 34px ;
    color : #838383;
    font-size: 22px;
}

.home-travel .row
{
    margin-top: 30px ;
    margin-bottom: 60px;
}


.home-travel .media-heading{
    margin-bottom: 0;
}

.home-travel .media-middle{
    width: 90%;
}

.home-travel .media-spacing{
    padding: 5px 0px 0px 0px;
}

.home-travel .media-spacing p{
    padding-top: 5px;
    padding-bottom: 10px;
}


.home-travel .media-middle{
    color : #474747;
}

.home-travel .media-middle h3
{
    font-family: 'Calibre Medium', Fallback, sans-serif;
    font-size: 31px;
    letter-spacing: -0.07px;
}

.home-travel .media-middle p{
    font-family: 'Calibre Regular', Fallback, sans-serif;
    line-height: 28px;
    letter-spacing: 0.03px;
    font-size: 18.5px;
    color : #838383;
}


.home-travel .ilu-2
{
    width: 85%;
}

.home-travel .ilu-3
{
    width: 85%;
}

.home-travel .btn
{

    padding-top : 12px;
    padding-bottom: 8px;
    padding-right: 20px;
    padding-left: 20px;

    background-color: #39CE83;

    border-radius: 16px;
    border-bottom : 3px solid #30B573;

    font-family: 'Calibre Regular', Fallback, sans-serif;
    font-size: 18px;
    letter-spacing: 0.03px;
    color : white;

}



.home-travel .btn:hover,
.home-travel .btn:focus{
    background-color: #48B976;
}

/*HOME MENGAPA*/
.home-mengapa
{
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #F6F6F6;
    text-align: center;
}



.home-mengapa .fitur-mengapa h2{
    font-family: 'Calibre Medium', Fallback, sans-serif;
    padding-bottom: 30px;
    color: #474747;
    font-size:40px;
    margin-bottom: 0;
    font-size: 42px;
    letter-spacing: -0.1px;

}

.home-mengapa .fitur-mengapa p{
    line-height: 34px;
    color : #838383;
    font-family: 'Calibre Regular', Fallback, sans-serif;
    font-size: 22px;
    letter-spacing: 0.04px;


}

.home-mengapa .row
{
    margin-top: 30px ;
    margin-bottom: 60px;
}

.home-mengapa .feature-item img{
    display: inline-block;
}

.home-mengapa .feature-item h4{
    font-family: 'Calibre Medium', Fallback, sans-serif;
    padding: 15px 0px 5px 0px;
    color: #474747;
    font-size: 23px;
    letter-spacing: -0.2px;
}

.home-mengapa .feature-item p{
    font-family: 'Calibre Regular', Fallback, sans-serif;
    line-height: 28px;
    font-size: 18px;
    letter-spacing: 0.03px;
    color : #838383;

}

/*CUSTOM*/
.home-custom {

    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    background-color: #39CE83;
}

.home-custom .spacing
{
    padding: 10px 0px;
}

.home-custom h2
{
    font-family: 'Calibre Medium', Fallback, sans-serif;
    color: white;
    font-size :42px;
    letter-spacing: -0.1px;
}

.home-custom p{
    font-family: 'Calibre Regular', Fallback, sans-serif;
    padding-left: 20%;
    padding-right: 20%;
    width: 100%;
    line-height: 34px;
    letter-spacing: 0.04px;
    font-size: 22px;
    color : white;
}

.home-custom .btn
{
    font-family: 'Calibre Regular', Fallback, sans-serif;
    color : white ;
    background-color: transparent;
    padding-top :   15px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 50px;
    border-radius: 15px;
    font-size: 20px;
    border : 2px solid white;

}

.home-custom .btn:hover,
.home-custom .btn:focus{
    background-color: white;
    color: #39CE83;
    opacity: 0.7;
}





/*FOOTER*/

.footer-content{

    padding-top: 30px;
    padding-bottom: 20px;

}

.footer-content p{
    font-family: 'Calibre Regular', Fallback, sans-serif;
    color : #838383;
    font-size: 18px;
}

.footer-content a{
    font-family: 'Calibre Regular', Fallback, sans-serif;
    font-size: 17px;
    line-height: normal;
    letter-spacing: 0;
    color: #39CE83;
    text-decoration:none;


}


.footer-content a:hover,
.footer-content a:focus{
    color : #48B976;
}

.footer-content > .active > a,
.footer-content > .active > a:hover,
.footer-content > .active > a:focus{
    color : #48B976;
}

/*MEDIA*/


@media screen and (max-width: 1440px)
{

    /*FITUR*/
    .home-fitur .feature-image {
        text-align: center;
    }

    .home-fitur .feature-image img{
        width: 50%;
        height: 50%;
        display: inline-block;
    }

    /*MENGAPA*/

    @media screen and (max-width: 1198px){
        .home-first .media .col-md-7
        {
            padding-right: 0;
        }

    }



    @media screen and (max-width: 991px)
    {


        /*HOME*/
        .home-first{
            text-align: center;
        }

        .home-first img{
            display: inline-block;
            width : 50%;
        }

        .home-first .img-illustration img{
            padding-top: 0;
        }


        .home-first .media .col-md-7{
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 0;

        }

        /* FITUR*/
        .home-fitur h4{
            font-size: 23px;
        }


        .home-fitur .feature-item{
            padding-bottom: 20px;
        }

        .home-fitur .fitur-title{
            margin-bottom: 10px;
        }

        /*TRAVEL*/
        .home-travel .row{
            text-align: center;

        }


        .home-travel .row img
        {
            display: inline-block;
            margin-bottom: 30px;
            width: 70%;
        }

        .home-travel .media-middle {
            width: 100%;
        }

        .home-travel-header .fitur-title p {
            padding-left: 0;
            padding-right: 0;
        }

        .home-travel .ilu-3{
            width: 100%;
        }

        /*        MENGAPA*/
        .home-mengapa{
            padding-bottom: 0;
        }
        .home-mengapa .feature-item
        {
            padding-bottom: 20px
        }

        /*FOOTER*/
        .footer-content p{
            text-align: center;
        }

        /*MODAL*/

        .modal-body{
            padding: 20px;
        }

        .modal .modal-isi-1{
            padding: 10px;

        }

        .modal .modal-isi-2{
            padding: 10px;
        }

        .modal .modal-border{
            margin-bottom: 30px;
        }

    }


    @media screen and (max-width: 920px)
    {

        .header-nav .navbar-home
        {
            padding-top :0;
            padding-bottom: 0;

        }

        .navbar-home .navbar-collapse .navbar-right{
            padding:5px 0;
        }

        /*NAVBAR*/
        .header-utama .navbar-header
        {
            width: 100%;
            text-align: center;
        }

        .header-utama img{
            display: inline-block;
        }

        .header-utama .navbar-right
        {
            width: 100%;
            text-align: center;
        }

        .navbar-home .navbar-collapse .navbar-right
        {
            padding-right: 25px;
        }

        .navbar-home .navbar-nav > li > a{
            padding-right: 10px;
            padding-left : 10px;
        }



    }

    @media screen and (max-width: 767px){

        /*NAVBAR*/

        .navbar-nav{
            margin: 0;
        }

        .navbar-default .navbar-toggle {
            margin-top: 25px;
        }

        .navbar-home .navbar-collapse .navbar-right
        {
            padding-right: 0;
        }

        .navbar-home .navbar-nav > li > a{

        }

        .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse{
            margin-left: 0;
            margin-right: 0;
        }

        /*HOME*/
        .home-first h2{
            font-size: 45px;
        }

        /*MODAL*/
        .modal-dialog{
            width: auto;
        }
    }

    @media screen and (max-width: 479px){

        /*NAVBAR*/
        .navbar-home .navbar-nav > li{
            width: 100%;
        }


        .home-custom p{
            padding-left: 0;
            padding-right:0;
        }



    }
